.phandau {color: #333; background-color:#f1f1f1;
             text-align: center; padding: 30px;}
.thucdon {background-color: #800000; height: 30px;color: #000000;}
.noidung {background-color:#e8eaea; height: 200px; width: 200px;}
.chantrang {backgroung-color: #000; padding: 5px; height: 10px;}
